body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: black;
    padding: 10px 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header h2 a {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header h2 a span {
    color: red;
}

header img {
    display: inline-flex;
    height: 60px;
    width: 60px;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
}

nav ul li {
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

.social {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#icon-name {
    margin-right: 800px;
    font-size: 25px;
}

#follow {
    margin: 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: black;
    font-size: 25px;
}

.social-icons li a {
    text-decoration: none;
}

.social-icons li a:hover, .social-icons i:hover {
    color: #e74c3c;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: black;
    color: #fff;
}

.container {
    width: 1140px;
    margin: auto;
    display: flex;
}

.footer-content {
    width: 35%;
}

footer h4 {
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
}

footer h4 a {
    text-decoration: none;
    color: white;
}

footer h4:hover {
    text-decoration: underline;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    list-style-type: none;
    padding: 7px;
    position: relative;
    cursor: pointer;
}

.list li a {
    text-decoration: none;
    color: white;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #e74c3c;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.bottom-bar {
    background: #cf8c3f;
    text-align: center;
    padding: 10px 0;
    margin-top: 60px;
}

.bottom-bar p {
    color: black;
    margin: 10px;
    font-size: 18px;
    padding: 7px;
    font-family: sans-serif;
}

/* Styles for the main content */
main {
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.requests p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}
.request p{
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
}
form{
    font-size: 18px;
    
}
table {
    width: 80%;
    margin: 0 auto 40px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    border: 1px solid rgb(0, 0, 0);
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
}

table th {
    background-color: #40a9ff;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

table td {
    color: rgb(3, 3, 3);
}
table tr:nth-child(even) {
    background-color: #ffdddd;
}
}